<!DOCTYPE html>
<html>
<head>
<title>Power of a Lamp</title>
<style>
    body {
        background-color: powderblue;
        font-family: Arial;
    }
    .box {
        width: 380px;
        background-color: rgb(42, 136, 37);
        color: rgb(90, 118, 186);
        padding: 20px;
        margin: auto;
        margin-top: 120px;
        border: 5px dotted black;
        text-align: left;
    }
    input {
        width: 150px;
        padding: 5px;
    }
    button {
        margin-top: 10px;
        padding: 5px 15px;
    }
</style>
</head>
<body>

<div class="box">
    <h2 style="text-align:center;">Power of a Lamp</h2>

    Current : 
    <input type="text" id="i"> (in A)
    <br><br>

    Resistance : 
    <input type="text" id="r"> (in Ω)
    <br><br>

    <button onclick="calc()">Calculate</button>
    <br><br>

    Power : 
    <input type="text" id="p" readonly> W
</div>
<script>
function calc() {
    let I = parseFloat(document.getElementById("i").value);
    let R = parseFloat(document.getElementById("r").value);
    
    if (!isNaN(I) && !isNaN(R)) {
        document.getElementById("p").value = (I * I * R).toFixed(0);
    } else {
        document.getElementById("p").value = "Error";
    }
}
</script>
</body>
</html>
